{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Calories Tracker{% endblock %}</title>
    <!-- Bootstrap (optional, for grid and utilities) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <!-- Custom Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_head %}

    {% endblock %}
</head>
<body>
<!-- Header -->
<header class="bg-light py-3 mb-4 border-bottom">
    {% include 'common/nav.html' %}
</header>

{% block main_wrapper %}<main class="container">{% endblock %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}
{% block end_main_wrapper %}</main>{% endblock %}

<!-- Footer -->
<footer class="bg-light text-center py-3 mt-5 border-top">
    <div class="container">
        <span class="text-muted">&copy; {{ year|default:2024 }} Calories Tracker. All rights reserved.</span>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>